//colors
$primary-wild: #f1873c;
$primary-classic: #bacc16;
$primary-quality: #4389fa;

$secondary-wild: #f7efe5;
$secondary-classic: #f1f9ce;
$secondary-quality: #e3edfc;

$common-white: #fff;
$common-black: #000;
$common-grey: #908c8c;

$border-primary: #e3e1e1;


//font-family
$font-main: 'Montserrat', sans-serif;


//font-sizes
$primary-font-size: 1rem;
$secondary-font-size: 1.125rem

