//colors
$primary-wild: #f97316;
$primary-classic: #84cc16;
$primary-quality: #3b82f6;

$secondary-wild: #ffedd5;
$secondary-classic: #ecfccb;
$secondary-quality: #dbeafe;

$common-white: #fff;
$common-black: #000;
$common-grey: #908c8c;

$border-primary: #e3e1e1;


//font-family
$font-main: 'Montserrat', sans-serif;


//font-sizes
$primary-font-size: 1rem;
$secondary-font-size: 1.125rem

